<div class="bg-cover bg-center creativeBox" [ngClass]="{'customerBGntg': theme === 'primeone-dark', 'customerBGday': theme !== 'primeone-dark'}">
    <div class="container">
      <div class="card-item cristal seo">SEO</div>
      <div class="card-item cristal mar">Marketing</div>
      <div class="card-item cristal dev">Development</div>
      <div class="card-item cristal dom">Domains</div>
      <div class="card-item cristal web">Websites</div>
      <div class="card-item cristal vps">Hosting/VPS</div>
      <br><br><br><br>
    </div>
  </div>
